<div x-data="alpineAtomic" x-init="initPage()">
    <div>
        <h2>Atomic</h2>
        <p>
            The collection of abilities in the Red Canary Atomic test project.
        </p>
    </div>
    <hr>
    <div class="is-flex is-align-items-center is-justify-content-center is-flex-direction-column fill">
        <h1 class="has-text-info is-size-1 mb-0" x-text="numAbilities || '---'"></h1>
        <p>abilties</p>
        <p>View or edit these abilities on the abilities page.</p>
        <a class="button is-primary is-small" x-on:click="addTab('abilities', '/campaign/abilities', 'plugin=atomic')">
            <span>Abilities Page</span>
            <span class="icon"><i class="fas fa-angle-right"></i></span>
        </a>
    </div>
</div>

<script>
function alpineAtomic() {
    return {
        numAbilities: 0,

        initPage() {
            apiV2('GET', 'api/v2/abilities').then((abilities) => {
                this.numAbilities = abilities.filter((ability) => ability.plugin === 'atomic').length;
            }).catch((error) => {
                toast('Error loading page', false);
                console.error(error);
            })
        }
    }
}

//- atomic.js
</script>

<style scoped>
.fill {
    height: 50%;
    width: 100%;
}  
</style>
